# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
db.sqlite3
/staticfiles/
/media/

# Pytest
.cache

# VSCode
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Local static/media
hello/static/hello/moodysLogo.png
